.sidebar{
    height: 100vh;
    width: 15vw;

    border-right: 1px;

    overflow: hidden;
}

.pagetitle{
    width: 100%;

    img{
        width: calc(100% - 2em);
        padding: 1em;
    }
}

.sections{
    color: white;
    font-size: 1.5em;

    .section{
        display: grid;
        grid-template-columns: 1em auto;

        &:hover{
            background: lightseagreen;
        }

        cursor: pointer;

        transition: background 0.1s;

        .arrow{
            justify-self: center;

            &:not(.down){    
                transform: translate(-0.2em, -0.4em);
                align-self: center;
            }
        }

        .arrow::before {
            position: absolute;
            content: '';
            border: .4em solid transparent;
            border-radius: 0.2em;
            border-left-color: darkslategray;
            transform-origin: 0 50%;
        }

        .arrow.down::before {
            transform: rotate(90deg);
        }
    }

    .subsections{
        transition: opacity 0.3s;

        .section{
            font-size: 0.75em;
    
            padding-top: 0.125em;
            padding-left: 1em;
        }

        &.active{ 
            opacity: 1;
        }
        
        &.inactive{ 
            position: absolute;
            z-index: -10000;

            opacity: 0;
        }
    }

    user-select: none;
}