<div class="sidebar" [ngStyle]="color">
    <div class="pagetitle">

    </div>
    <div class="sections">
        <div *ngFor="let section of sections">
            <div class="section" (click)="switchState(section)">
                <div class="{{section.subsections? 'arrow' : ''}} {{subsections[section.name]? 'down' : ''}}"></div>

                {{section.name}}
            </div>

            <div *ngIf="section.subsections" class="subsections {{getSubState(section)}}">
                <div class="section" *ngFor="let subsection of section.subsections">
                    <div></div>
                    {{subsection.name}}
                </div>
            </div>
        </div>
    </div>
</div>